body {
    width:90%;
    margin: 0 auto;
    text-align:center;
    background-color:#282828;
    color:white;
}

canvas {
    background-color:white;
    margin-bottom:5%;
    margin-top:30px;
}

.conversor {
    background-color:#707070;
    width:25%;
    height:350px;
    border-radius:5px;
}

select { text-indent: 20px; }

#boton {
    color:white;
}